<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2" debug="true" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="AlohaService.CustomUserNameValidator, AlohaService" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>



      <customBinding>
        <binding name="BinaryHttpBinding" >

          <binaryMessageEncoding compressionFormat="GZip" maxReadPoolSize="2147483647" maxSessionSize="2147483647" maxWritePoolSize="2147483647">
            <readerQuotas maxDepth="32" maxStringContentLength="5242880"
            maxArrayLength="200000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>

          <httpsTransport maxReceivedMessageSize="20000000" maxBufferSize="20000000" >

          </httpsTransport>
        </binding>
      </customBinding>



      <basicHttpBinding>
        <binding name="DefaultBinding" maxReceivedMessageSize="20000000" maxBufferSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
          
         
        </binding>
      </basicHttpBinding>
      
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
      <!--<add binding="basicHttpBinding" scheme="http" />-->
    </protocolMapping>
    <services>
      <service name="AlohaService.AlohaService" behaviorConfiguration="DefaultBehavior">
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <!--<endpoint address="AlohaService/AlohaService.svc" binding="basicHttpBinding" bindingConfiguration="DefaultBinding" name="DefaultEndpoint" contract="AlohaService.IAlohaService" />-->
        <endpoint address="/" binding="basicHttpBinding" bindingConfiguration="DefaultBinding" name="DefaultEndpoint" contract="AlohaService.IAlohaService" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <clear/>
    <!--<add name="AlohaDb" connectionString="Data Source=V-PC\SQLEXPRESS01;Initial Catalog=AlohaDb;User ID=AlohaUser;Password=AlohaUser;" providerName="System.Data.SqlClient" />-->
    <add name="AlohaDb" connectionString="Data Source=DESKTOP-FOF9UOB;Initial Catalog=AlohaDb;User ID=sa;Password=sql;" providerName="System.Data.SqlClient" />

    <!--<add name="AlohaDb" connectionString="Data Source=Predator;Initial Catalog=AlohaDb;User ID=aloha_user;Password=Mig46xq2;" providerName="System.Data.SqlClient" />--> 
    <!--<add name="AlohaDb" connectionString="Server=WIN-MUSK7PK55C8\SQLEXPRESS;Initial Catalog=AlohaDb;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AlohaService.AlohaDb" connectionString="AlohaService.AlohaDb_ConnectionString" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
<!--ProjectGuid: 478CC079-A69E-4FE5-8E8F-A76DEAC4D86A-->