<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.14.18" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="NLog" version="4.7.0" targetFramework="net461" />
  <package id="NLog.Config" version="4.7.0" targetFramework="net461" />
  <package id="NLog.Schema" version="4.7.0" targetFramework="net461" />
  <package id="Splat" version="9.4.5" targetFramework="net461" />
  <package id="Splat.Drawing" version="9.4.5" targetFramework="net461" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>