<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AlohaFly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <userSettings>
        <AlohaFly.Properties.Settings>
            <setting name="DBAddress" serializeAs="String">
                <value> https://18.216.147.247/AlohaService/AlohaService.svc</value>
            </setting>
            <setting name="DBAddressRelease" serializeAs="String">
                <value>https://18.216.147.247/AlohaServiceStaging/AlohaService.svc</value>
            </setting>
            <setting name="SHIP" serializeAs="String">
                <value>195.13.163.36</value>
            </setting>
            <setting name="SHPort" serializeAs="String">
                <value>4049</value>
            </setting>
            <setting name="SHLogin" serializeAs="String">
                <value>Aloha</value>
            </setting>
            <setting name="SHPass" serializeAs="String">
                <value>aloha123</value>
            </setting>
            <setting name="SHRidPlace" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SHRidCatExp" serializeAs="String">
                <value>667</value>
            </setting>
            <setting name="SHDocPrefix" serializeAs="String">
                <value>AlohaFly</value>
            </setting>
            <setting name="SHDocComment" serializeAs="String">
                <value>Test Document from AlohaFly</value>
            </setting>
            <setting name="IdFieldsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="HotColdPrinterName" serializeAs="String">
                <value>AlohaFlyKitchen</value>
            </setting>
            <setting name="UpackPrinterName" serializeAs="String">
                <value>AlohaFlyPack</value>
            </setting>
            <setting name="ConditerPrinterName" serializeAs="String">
                <value>AlohaFlyConditer</value>
            </setting>
            <setting name="SHRidPlaceSVO" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SHRidPlaceToGo" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SHToGoNotPaymentCatId" serializeAs="String">
                <value>112</value>
            </setting>
            <setting name="SHUnitId" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SHToFlyFolderId" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SHSharFolderId" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SHToGoFolderId" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="SHNoCatFolderToFlyId" serializeAs="String">
                <value>76</value>
            </setting>
            <setting name="SHNoCatFolderToGoId" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="SHDeleveryToGo" serializeAs="String">
                <value>1812</value>
            </setting>
            <setting name="SHOpenDishFolderToFly" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="SHOpenDishFolderToGo" serializeAs="String">
                <value>79</value>
            </setting>
        </AlohaFly.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents" publicKeyToken="5803cfa389c90ce7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2019.3.917.45" newVersion="2019.3.917.45"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Core" publicKeyToken="5803cfa389c90ce7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2018.3.1010.40" newVersion="2018.3.1010.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Spreadsheet" publicKeyToken="5803cfa389c90ce7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2018.3.1010.40" newVersion="2018.3.1010.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
